extends _layouts/base

include _modules/link/link

block content
  .container.root
    .yeogurt-info
      h1 Welcome to Penek!
      p.
        Take a look at the
        #[+link({text: 'documentation'})(href='https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---')]
        and start mixing up something awesome.
      p
        img.logo(src="images/penek-500.jpg")


    .alert.alert-success.alert-dismissible(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
      strong Bootstrap
      = ' '
      span linked!

  code.version v2.2.8 &copy; Arkadii Levin 2017
